{% include "layout/header.html" %}
{% include "layout/sidebar_admin.html" %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>

    <div class="alert alert-success" role="alert">
        Success To Login <a href="#" class="alert-link">{{ session.name_user }}</a>, Your is {{ session.isAdmin }}
    </div>

    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card bg-primary border-bottom-dark shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                                Total Items</div>
                            <div class="h5 mb-0 font-weight-bold text-white">{{ total_item }} Items</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-box-open fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card bg-success border-bottom-dark shadow h-100 py-2">
                <div id="count_all" class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div id="tota" class="col mr-2">
                            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                                Total User</div>
                            <div class="h5 mb-0 font-weight-bold text-white">{{ total_user }} Users</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% include "layout/footer.html" %}